* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navegacao {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    text-transform: uppercase;    
    background-color: aquamarine;
}

main {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 60px;
}

.info_me {
    display: flex;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
    gap: 26px;
}

h1, p {
    padding: 25px;
}

img {
    display: flex;
}
