* {
    border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --cor1: #171742;
    --cor2: #1B1B45;
    --cor3: #4B4B75;
    --cor4: #7C7CA6;
    --cor4: #C5C5F0;
}

@media (max-width: 600px) {
    main {

        flex-direction: column-reverse;
    }

    .redeSociais {
        flex-direction: column;
    }


}
.navegacao {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    gap: 15%;
    background-color: var(--cor1);
    color: var(--cor4);
    padding: 2rem;
}

body {
    height: 100vh;
}
main {
    display: flex;    
    align-items: center;
}

.info_me {
    padding: 2rem;
}

.name {
    text-align: center;    
    padding: 2rem;
}

.par_infoMe {
    text-align: justify;    
    padding: 2rem;
}

img {
    width: 300px;
    height: 300px;
    align-items: center;
}

.redeSociais {
    display: flex;
    gap: 5rem;
    padding: 1rem;
    justify-content: center;
}



.linkRedes {
    padding: 1rem;
    text-decoration: none;
    border-radius: 76% 24% 71% 29% / 27% 59% 41% 73%;
    border: 0.15rem solid red;
}

.rodape {
    text-align: center;    
    padding: 1rem;
}
